*

!.git/
!src/
!.dockerignore
!Dockerfile
!package.json
!tsconfig.json
!docker-entrypoint.sh
!pnpm-lock.yaml
!pnpm-workspace.yaml

!web/src
!web/static
!web/package.json
!web/svelte.config.js
!web/tsconfig.json
!web/vite.config.ts